<div class="container-fluid">
  <h3 class="text-center">Add a quote</h3>
  <hr>

  <form (ngSubmit)='submitQuote()' #goalForm='ngForm'>
    <div class="form-group">
      <label for="quote">Quote</label>
      <input type="text" class="form-control" id="quote" rows="7" [(ngModel)]="newQuote.quote" name="quote" #quotes="ngModel" required>
      <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger"></div>
      <p>Quote is required</p>
    </div>

    <div class="form-group">
      <label for="Author">Author</label>
      <input type="text" class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required>
      <div [hidden]="author.valid || author.pristine" class="alert alert-danger"></div>
      <p>Author is required</p>
    </div>

    <div class="form-group">
      <label for="submitter">Submitter</label>
      <input type="text" class="form-control" id="submitter" [(ngModel)]="newQuote.submitter" name="submitter" #submitter="ngModel" required>
      <div [hidden]="submitter.valid || submitter.pristine" class="alert alert-danger"></div>
      <p>Submitter name is required</p>
    </div>

  </form>

</div>
